body
{

margin: 0;
padding: 0;
background-color:#236847;
font-family: Arial, sans-serif;
display: flex;
justify-content: center;
align-items: center;
min-height: 100vh;

}
.form-box {
    background-color: white;
    padding: 40px;
    border: 2px solid black;
    height: 500px;
    width: 250px;
    
  }
