body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color:blanchedalmond;
    font-family: Arial, sans-serif;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container {
    text-align: center;
}




h1 {
    color:blue;
    margin-bottom: 20px;
}

form {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    width: 300px;
    text-align: left;
    margin: 0 auto;
}
input[type="text"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box; /* Ensures padding doesn't increase width */
    border: 1px solid #ccc;
    border-radius: 4px;
}
button{
    color:blue;
   
}