/* Basic styles */
body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-size:cover;
  }
  li:first-child {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

nav {

    /*padding: 25px;*/
    color: white;
}
nav > div:first-child {
    background-color:#69013b
}
/* Hover effect */
.cta-button:hover {
    background-color: #19e642; /* Darker shade of orange */
}
.course {
    padding: 10px;
    background-color: #f4f4f4;
    text-align: left;}
  

  p::first-letter {
    font-size: 2em;
    font-weight: bold;
    color: red;
  }
  p::selection {
    background: yellow;
    color:green;
  }
  h1::before {
    content: "🔥 "; /* Lisää emojin ennen jokaista h1-elementtiä */
  }
  
  p::after {
    content: " 🎉"; /* Lisää emojin jokaisen h1-elementin jälkeen */
  }
  

  