

body {
  font-family: 'Roboto', sans-serif;
  background-color: #f2f2f2;
  padding: 30px;
  color: #333;
}



h2{
  text-align: center;
  padding-top: 20px;
  padding-bottom: 30px;
  font-family:Georgia, 'Times New Roman', Times, serif
}

h1{
text-align: center;
color: #0074D9;
padding-bottom: 5px;
}

input {
  padding: 10px;
  margin: 10px;
  width: 150px;
  border-radius: 5px;
  border: 1px solid #aaa;
}

button {
  padding: 10px 15px;
  background-color:dodgerblue;
  color: white;
  border: none;
  border-radius: 5px;
  
}


#alert, #pinError {
  color: red;
  margin-top: 20px;
}



