body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color:bisque;
    color: #333;
    font-size: 16px;
    
  }
  
  h1 {
    color: #0056b3;
    text-align: center;
    margin-top: 20px;
  }
  .fav{
    size: 100rem;
    

  }
  .kod{
    background-position: cover;

  }